/*reset*/
* {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	vertical-align:baseline;
}

article, footer, header{
	display:block;
}

body{
	line-height:1;
}

ol, ul{
	list-style:none;
}

blockquote, q {
	quotes:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

body{
	-webkit-text-size-adjust:none;
}

div{
	display:block;
}

h1 {
	display:table-cell;
	vertical-align:middle;
	font-size: 36px;
}

h1, h2 {
	text-align:center;
}

h3, h4, h5, h6 {
	text-align:left;
}

a {
	text-decoration:none;
}

button {
	padding: 5px;
	background-color: #CCFFCC;
}

#header {
	display:table;
	width:100vw;
	height:20vh;
}

.navtab {
	display:table-cell;
	width:150px;
	height:40px;
	background-color:green;
	border:1px solid black;
	border-radius:10px;
	text-align:center;
	vertical-align:middle;
	color:black;
}