body div {
    position: absolute;
    border: 1px solid #000000;
}

body div div {
    position: static;
    border: none;
}

#phoneutil {
    width: 100%;
    bottom: 0px;
}

#popup {
    display: none;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}

#visual {
    display: flex;
    align-items: center;
    height: 30%;
    width: 60%;
}

.profile-card {
    border: 1px solid #000000;
    aspect-ratio: 1 /1;
}

.dice {
    width:60px;
    font-size: xx-large;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.horiz {
    display: inline-block;
}

.card-container {
    position: relative;
    border: 3px solid #FFFFFF;
}

.card {
    height:350px;
    margin: 10px;
}

.card-title {
    position: absolute;
    top:30px;
    width:100%;
    text-align: center;
    font-weight: bold;
}

.card-description {
    position: absolute;
    top: 200px;
    left: 15%;
    width:70%;
    height: 135px;
}

.selected {
    border: 3px solid #FFAA00;
}