body div {
    position: absolute;
    border: 1px solid #000000;
}

body div div {
    position: static;
    border: none;
}

#phoneutil {
    width: 100%;
    bottom: 0px;
}

#popup {
    display: none;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#visual {
    display: flex;
    align-items: center;
    height: 30%;
    width: 60%;
}

.profile-card {
    border: 1px solid #000000;
    aspect-ratio: 1 /1;
}

.dice {
    width:60px;
    font-size: xx-large;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.horiz {
    display: inline-block;
}

.card {
    height:350px;
    margin: 10px;
}

.selected {
    border: 3px solid #FFAA00;
}