html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#MainMenu {
    display: grid;
    grid-template-areas: 
        ". title title profile"
        ". play play ."
        "options options options options";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#LobbyHome {
    display: grid;
    grid-template-areas: 
        ". title title profile"
        "opponents opponents opponents opponents"
        "chat visual visual admin"
        "options options options options";
    grid-template-rows: 1fr 1fr 2.5fr 1fr;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.title {grid-area: title;}
.profile {
    grid-area: profile;
    justify-self: end;
    margin: 10px;

    display: inline-block;
    padding: 0.5em;
    height: 8em;
    width: 6em;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.play {
    grid-area: play;
    text-align: center;
}
.options {grid-area: options;}
.opponents {grid-area: opponents;}
.chat {
    justify-self: left;
    grid-area: chat;
}
.visual {grid-area: visual;}
.admin {
    justify-self: end;
    grid-area: admin;
}

.profile.client {
    height: 11em;
    width: 8em;
}

.profileIconContainer {
    height: 50%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.profileIcon {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1em;
    border-radius: 3px;
}



.hidden {
    display: none !important;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    text-align: center;
}

input[type="number"] {
    font-size: 1em;
    width: 2em;
    height: 2em;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    margin: 0.75em;
}

.menu {
    border: 1px solid #000000;
    background-color: #787878;
    padding: 20px;
    z-index: 2;
    max-height: 50vh;
    overflow-y: auto;
}

.form-row {
    display: flex;
    align-items: center;
    height: 2.5em;
}

label {
    display: flex;
    align-items: center;
}

label span {margin-left: 0.5em;}

summary {
    margin-top: -1px;
    padding: 5px;
    border: 1px solid #000000;
}

.options-content {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.area {
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
    margin: 10px;
}

/*.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: none;
}*/

.popup {
    border: 1px solid #000000;
    border-radius: 20px;
}



.button {
    display:inline-block;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #ACACAC;
}

#phoneutil {
    width: 100%;
    bottom: 0px;
}

#popup {
    display: none;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}

#visual {
    display: flex;
    align-items: center;
    height: 30%;
    width: 60%;
}

.profile-card {
    border: 1px solid #000000;
    aspect-ratio: 1 /1;
}

.dice {
    width:60px;
    font-size: xx-large;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.horiz {
    display: inline-block;
}

.card-container {
    position: relative;
    border: 3px solid #FFFFFF;
}

.card {
    height:350px;
    margin: 10px;
}

.card-title {
    position: absolute;
    top:30px;
    width:100%;
    text-align: center;
    font-weight: bold;
}

.card-description {
    position: absolute;
    top: 200px;
    left: 15%;
    width:70%;
    height: 135px;
}

.selected {
    border: 3px solid #FFAA00;
}